* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    display: flex;
    font-family: "Roboto", "open sans regular", sans-serif;
    font-weight: bold;
}

.boxes {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    border: solid 1px rgb(232, 235, 228, 0.5);

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px rgb(232, 235, 228, 0.5);
    padding: 15px;

}

nav img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: solid rgb(128, 128, 128, 0.5);
    border-radius: 50%;

}

.menu-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px
}

.textmenu {
    font-size: 15px;
    color: rgb(128, 128, 128, 0.5);
}

.menu-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

.menu {
    display: flex;
}

.new-1 {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 40px;
    border: solid 1px rgb(232, 235, 228, 0.5);

}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    width: 80%;
    height: 80%;
    border-radius: 2%;
    background-color: #A491D2;
    cursor: pointer;
    font-size: larger;
    color: white;
}

button:hover {
    background-color: rgb(164, 145, 210, 0.7);
    color: rgba(255, 255, 255, 0.5);
}

button:focus {
    background-color: #BEC1BB;
}


.chats {
    display: flex;
    flex-direction: column;


}


.cards {
    border: 1px solid rgb(232, 235, 228, 0.5);
    padding: 1em;
    flex-basis: 100%;

}

.namecards {
    font-size: medium;
}

.cards img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 2px solid rgb(128, 128, 128, 0.3);
    border-radius: 50%;
}

.settingscards {

    display: flex;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    padding-left: 50px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 75%;
    background-color: rgb(232, 235, 228, 0.5);
    border: 1px solid rgb(232, 235, 228, 0.5)
}

main img {

    width: 300px;
    height: 300px;
}

.alinear {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.center-text-logo {
    text-align: center;
    padding: 2em;
}

.tittle-logo {
    font-size: 60px;
    font-weight: 600;
}

.text-logo {

    font-size: 23px;
    font-weight: normal;
}

.resalta {
    font-weight: bold;
    padding: 5px;
}